{% load static %}

<html lang="en" dir="ltr">


<head>

  <title>Ajigo</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">



  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="//code.highcharts.com/maps/modules/map.js"></script>
  <script src="https://code.highcharts.com/modules/data.src.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.src.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>

  <script src="{% static 'assets/js/wgo.min.js' %}"></script>
  <script src="{% static 'assets/js/wgo.player.min.js' %}"></script>
  <script src="{% static 'assets/js/tsumego.js' %}"></script>
  <script src="{% static 'assets/js/overall.js' %}"></script>


  {% block js_block %}

  {% endblock %}
  <link rel="stylesheet" href="{% static 'assets/css/wgo.player.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/jumbotron.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/tsumego.css' %}">

</head>
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">

      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id='tryout'><h5 class="text-light" style="font-family: Consolas"><div id="urating"></div></h5></div>
  </nav>
</div>

<body>

  {% block body_block %}

  {% endblock %}
</body>
</html>
