{% extends 'base.html' %}


{% load static %}

{% block js_block %}
<script src="{% static 'assets/js/index.js' %}"></script>

{% endblock js_block %}

{% block body_block %}

<div class="container">

<div class="row">

  <br>

</div>

</div>

<div class="row">

{% if user.is_authenticated %}

<div class="col-md-1">
</div>
<div class="col-md-5">
<center><h2 style="font-family: Consolas">Stats summary</h2></center>
<table class="table table-borderless">
  <thead>

  </thead>
  <tbody style="font-family: Consolas">
    <tr>
      <th scope="row"></th>
      <td><b>Total amount of problems</b></td>
      <td><div id="utotalproblems"></div></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><b>Total time spent</b></td>
      <td><div id="utotaltime"></div></td>
    </tr>

    <tr>
      <th scope="row"></th>
      <td><b>Correct percentage</b></td>
      <td><div id="ucorrectperc"></div></td>
    </tr>

    <tr>
      <th scope="row"></th>
      <td><b>Highest rating achieved</b></td>
      <td><div id="uhighestrating"></div></td>
    </tr>

    <tr>
      <th scope="row"></th>
      <td><b>Lowest rating achieved</b></td>
      <td><div id="ulowestrating"></div></td>
    </tr>



  </tbody>
</table>

<br>


<a href="/play"><button  type="button" class="btn btn-info btn-block">Play</button></a>
</div>


<div class="col-md-5">

<div class="container">
  <!-- Example row of columns -->

<center><h2 style="font-family: Consolas">Stats detailed</h2></center>
<div id="ucorrectrank"></div>
<div id="container_highcharts_2"></div>
</div>
<br>

<div id="container_highcharts_1"></div>
</div>
</div>
</div>
</div>

{% else %}
<center><h2 style="font-family: Consolas">Please login</h2></center>

{% endif %}


{% endblock %}
