{% extends "account/base.html" %}

{% load i18n %}

{% block head_links %}

<title>The Test</title>

{% endblock %}

{% block head_title %}{% trans "Sign In" %} {% endblock %}

{% block content %}


<div class="container-fluid">

 {% block messages %}
    {% if messages %}
    <div>
        <ul>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
  {% endblock %}

<h3 class="h3" id="head_banner">{% trans "Sign In" %}</h3>

<form class="container-fluid text-center" id="login_form" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}

  {{ form.as_p }}

  {% if redirect_field_value %}

    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />

  {% endif %}

  <button  class="btn btn-outline-primary " type="submit">{% trans "Sign In" %}</button>
  <a  class="btn btn-outline-dark" href="{% url 'account_reset_password' %}">{% trans "Forgot Password ?" %}</a>

</form>
    {% load account socialaccount %}

    {% get_providers as socialaccount_providers %}
    <ul class="social_providers_list">
    {% for provider in socialaccount_providers %}
        <a title="{{provider.name}}" class="btn btn-outline-dark"
         href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><i class="fa fa-{{provider.name}}" id="social_icon"></i>{{provider.name}}</a>
    {% endfor %}
     </ul>

</div>

{% endblock %}




  <div data-wgo="game.sgf" style="width: 700px">
    Sorry, your browser doesn't support WGo.js. Download SGF <a href="game.sgf">directly</a>.
  </div>
