{% extends 'base.html' %}
{% block body_block %}
<body>


<form method='post' action='/accounts/signup/' id='signup'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='Sign Up'>
</form>

<form method='post' action='/accounts/login/' id='login'>
    {% csrf_token %}
    {{ login_form.as_p }}
    <input type='submit' value='Log In'>
</form>

</body>
{% endblock %}
