{% extends 'base.html' %}


{% load static %}

{% block js_block %}
<script src="{% static 'assets/js/spaced.js' %}"></script>

{% endblock js_block %}

{% block body_block %}
<div class="container">
<div class="row">
  <br>
</div>
</div>
<div class="row">

<div class="col-md-4">
<center><h2 style="font-family: Consolas">Problem Explorer</h2></center>
</div>

<div class="col-md-4">
<div class="container">
  <!-- Example row of columns -->

{% if user.is_authenticated %}
<center><h2 style="font-family: Consolas">AjiGo Spaced Repetition</h2></center>

<div style="width: 100%; margin: 0; background-color: #f9f9f9; padding: 10px; border-radius: 10px" id="tsumego_wrapper">
Your browser doesn't support WGo Player. Use some modern browser like IE9, Google Chrome or Mozilla Firefox.
</div>
<div>

<div class="container">
<div class="row">
  <div class="col-sm-3">

<div id="next_problem_forgotten">
<button type="button" class="btn btn-info btn-block">Forgotten</button>
</div>
</div>

<div class="col-sm-3">
<div id="next_problem_hard">
<button type="button" class="btn btn-info btn-block">Hard</button>
</div>
</div>

<div class="col-sm-3">
<div id="next_problem_average">
<button type="button" class="btn btn-info btn-block" id='average_button'>Average</button>
</div>
</div>


<div class="col-sm-3">
<div id="next_problem_easy">
<button type="button" class="btn btn-info btn-block" id='easy_button'>Easy</button>
</div>




</div>
</div>
</div>

</div>
</div>
</div>


<div class="col-md-3">
<center><h2 style="font-family: Consolas">Stats</h2></center>

<div><center><h4 style="font-family: Consolas"><time><div id='time_text'>00:00:00</div></time></h4></center></div>
<div style="display: none;"><button id="clear">clear</button></div>
<div style="display: none;"><button id="stop">stop</button></div>
<br>

<center><h3 style="font-family: Consolas">Problem stats</h3></center>
<table class="table table-borderless">
  <thead>

  </thead>
  <tbody style="font-family: Consolas">

    <tr>
      <th scope="row"></th>
      <td><b>Status</b></td>
      <td><div id='ustatus'>Otto</div></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><b>Correct %</b></td>
      <td><div id='ucorrect'>Otto</div></td>

    </tr>
    <tr>
      <th scope="row"></th>
      <td><b>Fastest time</b></td>
      <td><div id='ufast'>Otto</div></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><b>Average time</b></td>
      <td><div id='uaverage'>Otto</div></td>

    </tr>
    <tr>
      <th scope="row"></th>
      <td><b>Times seen</b></td>
      <td><div id='utimes'>Otto</div></td>

    </tr>

    <tr>
      <th scope="row"></th>
      <td><b>Last seen</b></td>
      <td><div id='ulast'>Otto</div></td>

    </tr>
  </tbody>
</table>

<br>

<center><h3 style="font-family: Consolas">Community stats</h3></center>
<table class="table table-borderless">
  <thead>

  </thead>
  <tbody style="font-family: Consolas">
    <tr>
      <th scope="row"></th>
      <td><b>Problem Rating</b></td>
      <td><div id="uproblemrating"></div></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><b>Correct %</b></td>
      <td><div id="ucommunitycorrect"></td>

    </tr>

    <tr>
      <th scope="row"></th>
      <td><b>Fastest time</b></td>
      <td><div id="ucommunityfast"></div></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><b>Average time</b></td>
      <td><div id="ucommunityaverage"></div></td>

    </tr>

  </tbody>
</table>



</div>

<div class="col-md-1">
</div>

</div>

{% else %}
<center><h2 style="font-family: Consolas">Please login</h2></center>

{% endif %}


{% endblock %}
